<span>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <dspanel ng-model="esquemasEnviados"></dspanel>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <dspanel ng-model="esquemasComprados"></dspanel>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <dspanel ng-model="usuariosRegistrados"></dspanel>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" icono="shopping-cart">
            <dspanel ng-model="esquemasBuscados"></dspanel>
        </div>
    </div>
</span>