<div class="container-fluid">
    <div class="row">

        <!-- Formulario de Busqueda -->
        <div class="col-md-10 col-md-offset-1">
            <div class="input-group input-group-lg">
                <span  class="input-group-addon">BUSCAR:</span>
                <input ng-model="esquema" ng-focus="reset()" ng-keyup="voyATenerSuerteTabien($event)" class="form-control" type="text" name="esquema" id="esquema" maxlength="40"/>
                <span  class="input-group-btn">
                    <input ng-click="voyATenerSuerte()" class="btn btn-info" type="button" value="Voy a tener suerte!"/>
                </span>
            </div>
            <p>&nbsp;</p>
        </div>

        <!-- Formulario Alert Success -->
        <div ng-show="alertSuccess" class="col-md-10 col-md-offset-1">
            <div class="alert alert-success">
                La búsqueda de <strong>{{esquema}}</strong> tiene {{esquemas.length}} resultados.
            </div>
        </div>

        <!-- Formulario Alert Danger -->
        <div ng-show="alertDanger" class="col-md-10 col-md-offset-1">
            <div class="alert alert-danger">
                La búsqueda de <strong>{{esquema}}</strong> no arrojó resultados.
            </div>
        </div>

        <!-- Formulario de  resultados -->
        <div ng-repeat="e in esquemas" class="col-md-10 col-md-offset-1">
            <div class="panel panel-info">
                <div class="panel-heading clearfix">
                    <h4 class="text-uppercase pull-left">Esquema: {{e.nombre}}</h4>
                    <a ng-click="descargarEsquema(e.nombre,e.file)" class="btn btn-primary pull-right" data-toogle="tooltip" data-placement="right" title="Descargar esquema {{e.nombre}}"><span class="glyphicon glyphicon-save"></span></a>
                </div>
                <div class="panel-body">
                    <strong>{{e.date}}</strong>
                    <br/>
                    {{e.descripcion}}
                </div>
            </div>
        </div>


    </div>
</div>