<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h3>Salir del sistema <small>¿Esta seguro?</small> </h3>

            <p>&nbsp;</p>
            
            <div class="row"><div class="col-md-10 col-md-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">Confirmar</div>
                    <div class="panel-body">¿Esta seguro que deseea salir del sistema?</div>
                    <div class="panel-footer clearfix">
                        <button ng-click="cancelar()" type="button" class="btn btn-danger  pull-left">Cancelar</button>
                        <button ng-click="aceptar()" type="button" class="btn btn-success pull-right">Aceptar</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
