<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1">

            <h3>Usuario <small>Panel</small> </h3>
               
            <p>&nbsp;</p>

            <panel ng-model="esquemasEnviados">
                <buttons>
                    <button ng-click="esquemasEnviados.enviarUnEsquema()" class="btn btn-success pull-right">
                        <i class="fa fa-cloud-upload"></i>
                        Enviar un esquema
                    </button>
                    <span class="clearfix"></span>
                </buttons>
            </panel>
            
            <!-- Busquedas -->
            <!--div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Busquedas realizadas</h4>
                    <button class="btn btn-success pull-right">Nueva busqueda</button>
                </div>
                <div class="panel-body">
                    <table class="table table-fluid table-bordered table-centered">
                        <tr class="table-title">
                            <td>Cadena</td>
                            <td>Fecha</td>
                            <td>Resultados</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div-->

            <!--Compras -->
            <!--div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Esquemas comprados</h4>
                    <button class="btn btn-success pull-right">Nueva compra</button>
                </div>
                <div class="panel-body">
                    <table class="table table-fluid table-bordered table-centered">
                        <tr class="table-title">
                            <td>Cadena</td>
                            <td>Fecha</td>
                            <td>Costo</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div-->

            <!--Descagas -->
            <!--div class="panel panel-primary">
                <div class="panel-heading clearfix">
                    <h4 class="pull-left">Esquemas gratis</h4>
                    <button class="btn btn-success pull-right">Nueva decargas gratis</button>
                </div>
                <div class="panel-body">
                    <table class="table table-fluid table-bordered table-centered">
                        <tr class="table-title">
                            <td>Esquema</td>
                            <td>Fecha</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </div-->
        </div>
    </div>
</div>
